.webuploader-pick{
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

#picker input{
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
}

#picker{
  position: relative;
  display: inline-block;
  line-height: 1.428571429;
  vertical-align: middle;
  left: 110px;
  border-radius: 4px;
}
.webuploader-pick .material-icons{
  font-size: 20px;
  margin-right: 5px;
  vertical-align: middle;
  color: #2f80bc;
}
#picker:hover{
  background-color: #dedede;
}
.mapboxgl-ctrl-top-left{
  display: none;
}